<!DOCTYPE html>
<html>
  <head>
    <title>AntisocialNetwork</title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    
  </head>

  <body>


<div id="menu" class="clearfix">
  
<h1 id="navigation-header"> Anti-Social Network </h1>
<ul id="navigation">
    
    
  <% if logged_in? %>
  
    <li>Friends</li>
    <li>Feeed!</li>

    <li>
      <%= link_to "Logout", logout_path, method: :delete %>
    </li>


  <% else %>

    <li>
      <%= link_to "Signup!", new_user_path %>
    </li>
    <li>
      <%= link_to "Login!", login_path %>  
    </li>
  
  <% end %>

</ul>
</div>
    

<%= yield %>


  </body>
</html>
